<div class="vcb-cookbook">
  {{!-- Header: Materials & Formulae summary --}}
  <div class="vcb-cook-header">
    <div class="vcb-cook-stat">
      <i class="fas fa-gem"></i>
      <span>Materials: <strong>{{totalSilver}}s</strong> remaining</span>
    </div>
    <div class="vcb-cook-stat">
      <i class="fas fa-star" style="color:#facc15"></i>
      <span>Formulae: <strong>{{formulaeCount}}/{{maxFormulaeCount}}</strong>
        (Lv{{level}}, max {{maxFormulaeValueLabel}})</span>
    </div>
  </div>

  {{!-- Search --}}
  <div class="vcb-cook-search">
    <i class="fas fa-search"></i>
    <input type="text" class="vcb-cook-search-input" placeholder="Search items..."
           value="{{searchText}}" />
  </div>

  {{!-- Item list --}}
  <div class="vcb-cook-list">
    {{#each items}}
    <div class="vcb-cook-item {{#if this.cantAfford}}vcb-cook-disabled{{/if}} {{#if this.isFormula}}vcb-cook-formula{{/if}}"
         data-item-name="{{this.name}}" data-eligible="{{this.eligibleAsFormula}}">
      <img class="vcb-cook-item-img" src="{{this.img}}" width="28" height="28" />
      <div class="vcb-cook-item-info">
        <span class="vcb-cook-item-name">
          {{#if this.isFormula}}<i class="fas fa-star vcb-cook-star"></i>{{/if}}
          {{this.name}}
        </span>
        <span class="vcb-cook-item-type">{{this.alchemicalType}}</span>
      </div>
      <span class="vcb-cook-item-value">{{this.valueLabel}}</span>
      <span class="vcb-cook-item-cost {{#if this.isFormula}}vcb-cook-cost-formula{{/if}}">
        {{this.costLabel}}
      </span>
      <button class="vcb-cook-craft-btn" data-item-name="{{this.name}}"
              data-is-formula="{{this.isFormula}}"
              {{#if this.cantAfford}}disabled{{/if}}>
        <i class="fas fa-hammer"></i> Craft
      </button>
    </div>
    {{else}}
    <div class="vcb-cook-empty">No items match your search.</div>
    {{/each}}
  </div>
</div>
